<div class="custom-form" style="max-width: 400px;">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="submitted && f['email'].errors" class="text-danger">
          <div *ngIf="f['email'].errors?.['required']">El correo es obligatorio.</div>
          <div *ngIf="f['email'].errors?.['email']">Correo inválido.</div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div *ngIf="submitted && f['password'].errors" class="text-danger">
          <div *ngIf="f['password'].errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="f['password'].errors?.['minlength']">Mínimo 6 caracteres.</div>
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
      <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
  </div>

